@page
@model Ilaro.Admin.Areas.IlaroAdmin.Pages.DeleteModel

<h2>@Model.Record.Entity.Verbose.Singular - @Model.Record.ToString()</h2>

<form method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden(nameof(Entity), Model.Entity.Name)
    @Html.Hidden(nameof(Id), Model.Record.Id)

    <div class="form-group">
        <div class="col-md-3">
            DeleteText
        </div>
    </div>

    @for (int i = 0; i < Model.PropertiesDeleteOptions.Count; i++)
    {
        <div class="form-group" data-delete-options="@Model.PropertiesDeleteOptions[i].HierarchyName" @HideDeleteOption(Model.PropertiesDeleteOptions[i].Collapsed)>
            <label for="@Html.IdFor(m => Model.PropertiesDeleteOptions[i].DeleteOption)" class="control-label col-md-2">@Model.PropertiesDeleteOptions[i].EntityName</label>
            <div class="col-md-3">
                @Html.HiddenFor(m => Model.PropertiesDeleteOptions[i].HierarchyName)
                @if (Model.PropertiesDeleteOptions[i].ShowOptions)
                {
                    @Html.DropDownListFor(m => Model.PropertiesDeleteOptions[i].DeleteOption, Model.PropertiesDeleteOptions[i].DeleteOption.GetSelectList(), new { @class = "form-control" })
                }
                else
                {
                    <div class="control-value">
                        @Model.PropertiesDeleteOptions[i].DeleteOption.ToString().SplitCamelCase()
                    </div>
                }
            </div>
        </div>
    }

    @if (Model.DisplayRecordHierarchy)
    {
        <h4>@DeleteHierarchyWarning(Model.AssumableDeleteHierarchyWarning)</h4>
        <div class="list-delete-wrapper">
            <ul class="list-delete">
                @{DisplayRecordHierarchy(Model.RecordHierarchy);}
            </ul>
        </div>
    }

    <div class="form-action">
        <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary">Delete</button>
            <a asp-page="Edit" asp-route-entity="@Model.Entity.Name" asp-route-id="@Model.Record.Id" class="btn btn-default">Edit</a>
            <a asp-page="List" asp-route-entity="@Model.Entity.Name" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>

@{
    void DisplayRecordHierarchy(RecordHierarchy record)
    {
        <li>
            @record.Entity.Name: @Html.ActionLink(record.DisplayName.GetValueOrDefault("--empty--"), "Edit", new { entityName = record.Entity.Name, key = record.JoinedKeysValues })
            @if (record.SubRecordsHierarchies.Any())
            {
                <ul>
                    @foreach (var subRecord in record.SubRecordsHierarchies)
                    {
                        <text>@{DisplayRecordHierarchy(subRecord);}</text>
                    }
                </ul>
            }
        </li>
    }

    string HideDeleteOption(bool collapsed)
        => collapsed ? "data-delete-options-collapsed=\"true\"" : string.Empty;

    string DeleteHierarchyWarning(bool assumable)
        => assumable ? "AssumableCascadeDeleteWarning" : "CascadeDeleteWarning";
}