@model PropertyValue

<div class="col-md-3">
    <div class="input-group date date-time-picker" data-date-format="@Model.Property.GetDateFormat().ToUpper() @Model.Property.GetTimeFormat()">
        @Html.TextBox(Model.Property.Name, Model.AsObject.ToStringSafe(Model.Property), Model.Property, new { @class = "form-control", data_date_format = Model.Property.GetDateTimeFormat() })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    @Html.Condition(!string.IsNullOrEmpty(Model.Property.Description), () => "<span class=\"help-block\">" + Model.Property.Description + "</span>")
</div>
@Html.ValidationMessage(Model.Property.Name)
