@model EntityCreateModel

@{
    if (ViewBag.IsAjaxRequest)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Areas/IlaroAdmin/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = string.Format(IlaroAdminResources.Create_Title, Model.Entity.Name);
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink(IlaroAdminResources.Index_Title, "Index", "Group", new { area = "IlaroAdmin" }, null)</li>
        <li>@Html.ActionLink(Model.Entity.Verbose.Group, "Details", "Group", new { area = "IlaroAdmin", groupName = Model.Entity.Verbose.Group }, null)</li>
        <li>@Html.ActionLink(Model.Entity.Verbose.Plural, "Index", "Entities", new { area = "IlaroAdmin", entityName = Model.Entity.Name }, null)</li>
        <li class="active">@string.Format(IlaroAdminResources.Create_Title, Model.Entity.Name)</li>
    </ul>
}

<h2>@Model.Entity.Verbose.Singular</h2>

@using (Html.BeginForm("Create", "Entity", new { area = "IlaroAdmin" }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    Html.RenderPartial("_PropertiesGroups", Model.PropertiesGroups);

    @Html.Hidden("EntityName", Model.Entity.Name)

    <div class="form-action">
        <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary">@IlaroAdminResources.Save</button>
            <button type="submit" class="btn btn-default" name="ContinueEdit"><i class="glyphicon glyphicon-edit"></i> @IlaroAdminResources.SaveAndContinueEdit</button>
            <button type="submit" class="btn btn-default" name="AddNext"><i class="glyphicon glyphicon-plus"></i> @IlaroAdminResources.SaveAndAddNext</button>
            <a href="@Url.Action("Index", "Entities", new { area = "IlaroAdmin", entityName = Model.Entity.Name }, null)" class="btn btn-link">@IlaroAdminResources.Cancel</a>
        </div>
    </div>
}

<div class="modal fade" id="foreign-modal" tabindex="-1" role="dialog" aria-labelledby="Create foreign entity" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create foreign entity</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
