@model PropertyValue

<div class="form-group">
    @if (Model.Property.TypeInfo.IsBool == false)
    {
        <label for="@Html.Id(Model.Property.Name)" class="control-label col-md-2">@Model.Property.Display @Html.Condition(Model.Property.IsRequired, () => "<span class=\"text-danger\">*</span>")</label>
    }
    else
    {
        <div class="col-md-2"></div>
    }
    <div class="col-md-9">
        <div class="row control">
            @Html.EditorFor(m => m, Model.Property.Template.Editor)
        </div>
    </div>

    <div class="col-md-1">
        <button class="btn btn-default next-value" type="button"><span class="glyphicon glyphicon-plus"></span></button>
        @if (Model.Property.IsForeignKey)
        {
            <a href="@Url.Action("Create", new { entityName = Model.Property.ForeignEntity.Name })" target="_blank" class="btn btn-primary create-foreign"><span class="glyphicon glyphicon-plus"></span></a>
        }
    </div>
</div>