@model Ilaro.Admin.ViewModels.PropertyViewModel

@{Html.ClearPrefix();}
<label for="@Html.Id(Model.Name)" class="control-label col-md-2">@Model.DisplayName @Html.Condition(Model.IsRequired, () => "<span class=\"text-danger\">*</span>")</label>
<div class="controls col-md-6">
    @Html.DropDownList(Model.Name, Model.GetPossibleValues(false), Model, new { @class = "form-control dual-list", multiple = "true" })
    @Html.Condition(!string.IsNullOrEmpty(Model.Description), () => "<span class=\"help-block\">" + Model.Description + "</span>")
</div>
@Html.ValidationMessage(Model.Name)
