@model Ilaro.Admin.ViewModels.PropertyViewModel

@{Html.ClearPrefix();}
<label for="@Html.Id(Model.Name)" class="control-label col-md-2">@Model.DisplayName @Html.Condition(Model.IsRequired, () => "<span class=\"text-danger\">*</span>")</label>
<div class="controls col-md-3">
	<div class="input-group">
		@Html.TextBox(Model.Name, Model.StringValue, Model, Model.ControlsAttributes.Merge(new { @class = "form-control numeric" }))
	</div>
	@Html.Condition(!string.IsNullOrEmpty(Model.Description), () => "<span class=\"help-block\">" + Model.Description + "</span>")
</div>
@Html.ValidationMessage(Model.Name)
