@model Property

@{Html.ClearPrefix();}
<label for="@Html.Id(Model.Name)" class="control-label col-md-2">@Model.DisplayName @Html.Condition(Model.IsRequired, () => "<span class=\"text-danger\">*</span>")</label>
<div class="col-md-3">
    @Html.Password(Model.Name, Model.Value, Model, new { @class = "form-control" })
    @Html.Condition(!string.IsNullOrEmpty(Model.Description), () => "<span class=\"help-block\">" + Model.Description + "</span>")
</div>
@Html.ValidationMessage(Model.Name)
