@model Property

<div class="col-md-offset-2">
    <div class="col-md-3">
        <div class="checkbox">
            <label for="@Html.Id(Model.Name)">
                @Model.Display
                @Html.CheckBox(Model.Name, Model.Value.AsBool.GetValueOrDefault(), Model)
            </label>
        </div>
        @Html.Condition(!string.IsNullOrEmpty(Model.Description), () => "<span class=\"description\">" + Model.Description + "</span>")
    </div>
    @Html.ValidationMessage(Model.Name)
</div>
