@model Ilaro.Admin.ViewModels.DeleteViewModel
@{
    Layout = "~/Views/IlaroAdmin/_Layout.cshtml";
    ViewBag.Title = string.Format(Resources.IlaroAdminResources.Delete_Title, Model.Entity.Name);
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink(Resources.IlaroAdminResources.Index_Title, "Index")</li>
        <li>@Html.ActionLink(Model.Entity.GroupName, "Group", new { groupName = Model.Entity.GroupName })</li>
        <li>@Html.ActionLink(Model.Entity.Plural, "Details", new { entityName = Model.Entity.Name })</li>
        <li class="active">@string.Format(Resources.IlaroAdminResources.Delete_Title, Model.Entity.Name)</li>
    </ul>
}

<h2>@Model.Entity.Singular</h2>

@using (Html.BeginForm("Delete", "IlaroAdmin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Hidden("key", Model.Entity.Key.Value)

    <div class="control-group">
        <div class="controls">
            @Resources.IlaroAdminResources.DeleteText
        </div>
    </div>

    <div class="form-action">
        <button type="submit" class="btn btn-primary">@Resources.IlaroAdminResources.Delete</button>
        <a href="@Url.Action("Edit")" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> @Resources.IlaroAdminResources.Edit</a>
        <a href="@Url.Action("Details")" class="btn btn-link">@Resources.IlaroAdminResources.Cancel</a>
    </div>
}
